In [1]:
print('Hacktive8')

Hacktive8

## Integer

Integer adalah tipe data yang berupa angka

In [2]:
print(123123123)

123123123

In [3]:
type(10)

int

## Floating Point

Tipe data berupa desimal

In [4]:
4.2

4.2

In [5]:
type(3.2)

float

In [6]:
.2

0.2

In [7]:
.4e7

4000000.0

In [8]:
4.2e-2

0.042

## String

Tipe data berupa sequence of character data

In [9]:
print('Ini adalah string')

Ini adalah string

In [10]:
type('ini adalah string')

str

In [11]:
print("I'm")

I'm

## Boolean

Tipe data berupa true atau false

In [12]:
True

True

In [13]:
False

False

In [15]:
Type('True')

NameError: name 'Type' is not defined

In [16]:
Type('True')

NameError: name 'Type' is not defined

In [17]:
type('True')

str

## Variable

In [18]:
n = 300

In [19]:
n

300

In [20]:
n = k =300
print(n,k)

300 300

In [21]:
print(n)

300

In [22]:
print(k)

300

### Variable Name

In [28]:
name = 'Mazaya'
Age = 26
has_laptop = True
print(name, Age, has_laptop)

Mazaya 26 True

In [26]:
bola_naga_9 = True

In [27]:
age = 1
print(age)

1

## Operator & Expression in Phyton

Special symbol untuk melakukan komputasi

In [29]:
a = 10

In [30]:
b=20

In [31]:
a+b

30

In [32]:
a-5+b

25

## Aritmatic Operator

In [34]:
a=10
b=20

print(a==b) #sama dengan
print(a!=b) #tidak sama dengan
print(a<=b)  #kurang dari sama dengan
print(a>=b) #lebih dari sama dengan

False
True
True
False

## String Manipulator

In [35]:
# + Operator

s = 'foo'
t = 'bar'
u = 'bas'

print(s+t)

foobar

In [36]:
s+t+u

'foobarbas'

In [38]:
print ('Hacktive8' + ' Inalum')

Hacktive8 Inalum

In [39]:
# * Operator

s*4

'foofoofoofoo'

In [41]:
# in Operator

s = 'foo'
s in 'food is ready'

True

In [42]:
s in 'good for us'

False

# Case Convertion

In [46]:
s='hacTIve8 inalum'

In [47]:
# Capitalize

s.capitalize()

'Hactive8 inalum'

In [48]:
# Title

s.title()

'Hactive8 Inalum'

In [49]:
#lower

print(s.lower())

#uppercase
print(s.upper())

hactive8 inalum
HACTIVE8 INALUM

In [50]:
#swapcase
s.swapcase()

'HACtiVE8 INALUM'

## List

Ditandai dengan '[ ]'

In [51]:
a = ['foo','bar','bas']

In [52]:
a

['foo', 'bar', 'bas']

In [53]:
a = ['inalum', 2,3,True,2.34,False,'hacktive']

In [54]:
a

['inalum', 2, 3, True, 2.34, False, 'hacktive']

In [55]:
b = ['foo','bar','baz','dor','qux','den']

In [56]:
b

['foo', 'bar', 'baz', 'dor', 'qux', 'den']

In [58]:
b[0]

'foo'

In [59]:
b[5]

'den'

In [61]:
b[3]

'dor'

In [62]:
b[-1]

'den'

In [63]:
# Slicing

b[1:4]

['bar', 'baz', 'dor']

In [64]:
b[0:5]

['foo', 'bar', 'baz', 'dor', 'qux']

In [65]:
b[:5]

['foo', 'bar', 'baz', 'dor', 'qux']

In [66]:
b[2:]

['baz', 'dor', 'qux', 'den']

In [67]:
print(b)

['foo', 'bar', 'baz', 'dor', 'qux', 'den']

In [68]:
b+['value1','value2']

['foo', 'bar', 'baz', 'dor', 'qux', 'den', 'value1', 'value2']

In [69]:
print(b[1:4])

['bar', 'baz', 'dor']

In [70]:
b*2

['foo',
 'bar',
 'baz',
 'dor',
 'qux',
 'den',
 'foo',
 'bar',
 'baz',
 'dor',
 'qux',
 'den']

In [72]:
print(b)

len(b)

['foo', 'bar', 'baz', 'dor', 'qux', 'den']

6

In [75]:
# ambil urutan abjad/angka terkecil

min(b)

'bar'

In [76]:
# ambil urutan abjad/angka terbesar

max(b)

'qux'

In [77]:
c = [1,2,3,4,5]
print(min(c))
print(max(c))

1
5

# Modifiying Single List Value

b

In [78]:
b

['foo', 'bar', 'baz', 'dor', 'qux', 'den']

In [80]:
b[2]=10

In [81]:
b

['foo', 'bar', 10, 'dor', 'qux', 'den']

In [84]:
b[-1]=20

In [85]:
b

['foo', 'bar', 10, 'dor', 'qux', 20]

In [86]:
del b[3]

In [87]:
b

['foo', 'bar', 10, 'qux', 20]

# Modifiying Multiple List Value

In [89]:
b

['foo', 'bar', 10, 'qux', 20]

In [90]:
b[1:4]

['bar', 10, 'qux']

In [91]:
b[1:4]=[1.1,1.2,1.3]

In [92]:
b

['foo', 1.1, 1.2, 1.3, 20]

# Tuples

In [93]:
t = ('foo','bar','bas','qux','quux','corge')

In [94]:
t

('foo', 'bar', 'bas', 'qux', 'quux', 'corge')

In [95]:
t[0]

'foo'

In [96]:
t[-1]

'corge'

In [97]:
t[0]='new value'

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [99]:
identitas = {
    key: value
}

NameError: name 'key' is not defined

In [100]:
identitas ={
    'nama':'Mazaya',
    'Lname':'Dini',
    'Age':26
}

In [101]:
identitas

{'nama': 'Mazaya', 'Lname': 'Dini', 'Age': 26}

In [102]:
identitas['Age']

26

In [103]:
identitas['Alamat']

KeyError: 'Alamat'

In [105]:
identitas['Pekerjaan']='Hantu'

In [106]:
identitas

{'nama': 'Mazaya', 'Lname': 'Dini', 'Age': 26, 'Pekerjaan': 'Hantu'}

In [107]:
identitas ['Pekerjaan']='Buruh'

In [108]:
identitas

{'nama': 'Mazaya', 'Lname': 'Dini', 'Age': 26, 'Pekerjaan': 'Buruh'}

In [109]:
del identitas['Pekerjaan']

In [110]:
identitas

{'nama': 'Mazaya', 'Lname': 'Dini', 'Age': 26}

In [111]:
person = {}

In [115]:
type(person)

TypeError: 'dict' object is not callable

In [121]:
person['nama']= 'Nama Depan'
person['Lname']= 'Nama Tengah'
person['children']=['anak1','anak2']

In [117]:
person

{'nama': 'Nama Depan', 'Lname': 'Nama Tengah', 'children': {'anak1', 'anak2'}}

In [118]:
person['nama']

'Nama Depan'

In [119]:
person['children']

{'anak1', 'anak2'}

In [122]:
person['children'][1]

'anak2'

In [123]:
d = [1,2,3,[4,5,6],7,8]

In [124]:
d[3]

[4, 5, 6]

In [125]:
d[3][0]

4

In [126]:
d={'a':10,'b':20,'c':30}

In [127]:
d

{'a': 10, 'b': 20, 'c': 30}

In [129]:
# keys

d.keys()

dict_keys(['a', 'b', 'c'])

In [132]:
# value
d.values()

dict_values([10, 20, 30])

In [133]:
# Phyton Statement

print('Hello World!')

x = [1,2,3]

Hello World!

In [139]:
# Line Continuation

person1_age = 42
person2_age = 43
person3_age = 44

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [140]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65) or 
    (person2_age >= 18 and person2_age <= 65) or 
    (person3_age >= 18 and person3_age <= 65)
)
someone_is_of_working_age

True

In [141]:
a=[[1,2,3],[4,5,6],[7,8,9]]

In [142]:
a

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [143]:
a=[[1,2,3],[4,5,6],[7,8,9],[1,2,3],[4,5,6],[7,8,9],[1,2,3],[4,5,6],[7,8,9],[1,2,3],[4,5,6],[7,8,9],[1,2,3],[4,5,6],[7,8,9],[1,2,3],[4,5,6],[7,8,9]]

In [144]:
print(a)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [145]:
a

[[1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9]]

In [146]:
a=[
    [1,2,3],[4,5,6],[7,8,9],[1,2,3],
    [4,5,6],[7,8,9],[1,2,3],[4,5,6],
    [7,8,9],[1,2,3],[4,5,6],[7,8,9],
    [1,2,3],[4,5,6],[7,8,9],[1,2,3],
    [4,5,6],[7,8,9]
]

In [147]:
a

[[1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9],
 [1, 2, 3],
 [4, 5, 6],
 [7, 8, 9]]

In [148]:
s=
'Hello World!'

SyntaxError: invalid syntax (<ipython-input-148-3e490993ce54>, line 1)

In [151]:
s=\
'Hello World'

In [152]:
s

'Hello World'

In [155]:
# Multiple Statement Per Line

x=1;y=2;z=3
print(1);print(2);print(3)

1
2
3

In [158]:
# comments

a = ['foo','bar'] # i am comment
a

['foo', 'bar']

In [160]:
"""
Mazaya Dini Ramadhani
LALALALALAL

"""
pi = 3.14
r = 12

area = pi*(r**2)
print ('the area of circle is', area)

the area of circle is 452.16

# Conditional

In [162]:
# If Statement

x = 0
y = 5

if x < y:
    print('yes')
if y < x:
    print('yes')
if 'aul' in 'grault':
    print('yes')

yes
yes

In [163]:
if 'foo' in ['bar','baz','qux']:
    print('Expresstion was true')
    print('Execution Statement')
    print('...')
    print('done')
print('after conditional')

after conditional

In [164]:
if 'foo' in ['bar','baz','qux','foo']:
    print('Expresstion was true')
    print('Execution Statement')
    print('...')
    print('done')
print('after conditional')

Expresstion was true
Execution Statement
...
done
after conditional

In [165]:
if 'foo' in ['foo','bar','baz']:
    print('Outer condition is true')
    
    if 10 > 20:
        print ('Inner Condition')
        
    print('between inner condition')
    
    if 10 < 20:
        print ('inner condition 2')
        
    print('end condition')

Outer condition is true
between inner condition
inner condition 2
end condition

In [166]:
# else and elif

if x < 50:
    print('x is small')
else:
    print('x is large')

x is small

In [167]:
# else and elif

if x > 50:
    print('x is small')
else:
    print('x is large')

x is large

In [168]:
name = 'hacktive8'

if name == 'fred':
    print('Hi Fred')
elif name == 'xander':
    print('Hi Xander')
elif name == 'hacktive8':
    print('Hi hacktive8')
    
else:
    print('I dont know')

Hi hacktive8

In [170]:
name = 'mazaya'

if name == 'fred':
    print('Hi Fred')
elif name == 'xander':
    print('Hi Xander')
elif name == 'hacktive8':
    print('Hi hacktive8')
    
else:
    print('I dont know')

I dont know

In [171]:
if 'a' in 'bar':
    print('right')
elif 1/0:
    print('wrong')
elif var:
    print('wrong also')

right

In [175]:
if 'r' in 'bar':
    print('right')
elif 1/0:
    print('wrong')
elif var:
    print('wrong also')

right

In [176]:
#one line if statement

x=2
if x == 1: 
    print ('foo')
    print ('baz')
elif x == 2:
    print ('do')
    print ('re')
else:
    print ('no')
    print ('dont')

do
re

In [177]:
# ternary operator (conditional expresssion)

age = 12

'teen' if age < 21 else 'adult'

'teen'

In [178]:
age = 26

'teen' if age < 21 else 'adult'

'adult'

In [180]:
if a > b:
    m = a
else:
    m = b

m = a if a > b else b

TypeError: '>' not supported between instances of 'str' and 'float'

In [181]:
## pass statement

if True:
    pass

print('foo')

foo

In [182]:
## while

n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [184]:
# break & continue statement

n = 5
while n > 0:
    n -= 1 # didapatkan 4
    if n == 2: # dilewati karena 4!=2
        break #pass
    print(n) # 4 3
print('loop end')

4
3
loop end

In [185]:
n = 5
while n > 0:
    n -= 1 # didapatkan 4
    if n == 2: # dilewati karena 4!=2
        continue #pass
    print(n) # 4 3
print('loop end')

4
3
1
0
loop end

In [186]:
#else clause

n = 5
while n > 0:
    n -= 1 
    if n == 2: 
        break 
    print(n) 
else:
    print('loop end')

4
3

In [187]:
# one - line while loops

n = 5

while n > 0: n-=1; print(n)

4
3
2
1
0

In [188]:
# for loops

a = ['foo','bar','baz']

for i in a:
    print(i)

foo
bar
baz

In [191]:
d = {'foo': 1,'bar': 2,'baz': 3}

for k in d:
    print(k)

foo
bar
baz

In [192]:
for k in d:
    print(d[k])

1
2
3

In [193]:
d['foo']

1

In [195]:
for v in d.values():
    print(v)

1
2
3

In [199]:
# range function

x = range (10)

In [200]:
x

range(0, 10)

In [201]:
for n in x:
    print(n)

0
1
2
3
4
5
6
7
8
9

In [202]:
# break and continue

for i in ['foo','bar','baz','quz']:
    if 'z' in i:
        break
    print(i)

foo
bar

In [204]:
for i in ['foo','bar','baz','qux']:
    if 'z' in i:
        continue
    print(i)

foo
bar
qux

In [205]:
# else clause

for i in ['foo','bar','baz','qux']:
    print(i)
else:
    print('done')

foo
bar
baz
qux
done

In [207]:
for i in ['foo','bar','baz','qux']:
    if 'z' in i:
        break
    print(i)
else:
    print('done')

foo
bar

In [2]:
temp = input("Ketikan termperatur yang ingin dikonversi, eg 45F, 28C : ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("masukkan input yang benar")
    
print("Temperaturnya adalah", result)

Ketikan termperatur yang ingin dikonversi, eg 45F, 28C : 28F
Temperaturnya adalah -2

In [214]:
temp

'48'

In [215]:
result

118.4

In [1]:
while True:
    msg = input("Ketikkan karakter: ").lower()
    print(msg)
    if msg == 'stop':
        break

Ketikkan karakter: A
a
Ketikkan karakter: B
b
Ketikkan karakter: stop
stop